/* CSS Reset */
body, header, nav, main, footer, img, h1, h3, ul, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

/** Main Style Rules (Mobile First Design) **/

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-image: url("../images/background_vegtables.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

html, body {
  height: 100%;
}

main {
    flex: 1 0 auto;
    margin-top: 25px;
}

header img {
    margin-left: 25px;
    margin-top: 25px;
}

header {
    display: inline;
}

footer {
    background-color: #0088A4;
    color: white;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

footer img {
    margin: 0 2px;
}

#the_bag {
    display: none;
}

/** ---------- CSS for Navigation ---------- **/

.menu_button {
    cursor: pointer;
    float: left;
    margin-right: 25px;
}

#line1 {
    position: absolute;
    top: 100px;
}

#line2 {
    position: absolute;
    top: 110px;
}

#line3 {
    position: absolute;
    top: 120px;
}

nav {
    font-size: 1em;
}

.menu_list {
    margin-top: 10px;
    margin-left: 100px;
}

.menu_list, .menu_list ul {
    display: none;
    list-style: none;
}

.menu_list li {
    width: fit-content;
    float: left;
    margin: 10px 10px;
    text-decoration: none;
    padding: 5px;
    background-color: white;
    color: #0088A4;
}

.menu_list li div:hover {
    background-color: #0088A4;
    color: white;
    width: fit-content;
    padding: 5px;
}

.sub_list_user, .sub_list_notification, .sub_list_template {
    width: 50px;
}

/* Hannah */
.alert.success {
    background-color: #bbfdbb;
    padding: 10px 10px;
    width: fit-content;
    margin: 15px auto;
    align-content: center;
    border-radius: 4px ;
    border: black 1px solid;
}

.alert.error {
    background-color: #ec9797;
    padding: 10px 10px;
    width: fit-content;
    margin: 15px auto;
    align-content: center;
    border-radius: 4px ;
    border: black 1px solid;
}

#lf {
    margin: 15px 0;
}

#ca {
    margin: 5px 0;
}

#username_box p, #email_box p, #phone_box p, #password_box p, #preference_box p, #status_box p, #pause_box p {
    display: inline-block;
}

#edit_username_box, #edit_email_box, #edit_phone_box, #edit_password_box, #edit_preference_box, #edit_status_box, #edit_preference_box_unpause {
    display: none;
}

/* Hakeem */
table {
    margin: 0 auto;
    border: 1px solid beige;
    justify-content: normal;
    width: 70%;
}

/* Mike */
#create_notification {
    text-align: left;
}

#create_notification input {
    margin-bottom: 5px;
}

#subject {
    text-align: left;
}

#send_notification {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
}

#send_notification button {
    float: right;
    margin-bottom: 5px;
}

#send_notification label {
    float: left;
}

@media screen and (min-width: 960px) {
    header img {
        float: left;
        display: block;
    }

    header nav {
        float: right;
        display: block;
    }
    nav {
        margin-right: 50px;
        font-size: 1.25em;
    }

    .menu_button {
        display: none;
    }

    .menu_list {
        display: block;
        float: right;
        margin-top: 50px;
    }

    .sub_list_user {
        display: block;
    }

    .sub_list_user, .sub_list_notification, .sub_list_template {
        width: 120px;
    }

}
