{% extends "default.html" %}



{% block title %}Create Template{% endblock %}
{% block content %}
    <p style="color: #0088A4; font-size: x-large">
        CREATE AND SAVE A NOTIFICATION TEMPLATE
    </p>
<p>
    <form method="get" action="/create_notification">
        <label id="create_notification">
            <input type="text" name="subject" placeholder="Template Title" style="text-align: left">

            <br><br>

            <input type="text" name="subject" placeholder="Subject Line" style="text-align: left">

            <br>

            <textarea
                    name="message"
                    cols="150"
                    rows="20"
                    placeholder="Enter text here">
            </textarea>

            <br><br>

            <button type="save">Save</button>
        </label>
    </form>
{% endblock %}
<! -- TODO: Refresh page after saving it -->
<! -- TODO: Select existing templates found in DB -->