{% extends "default.html" %}

{% block title %}Logs View{% endblock %}
{% block content %}


    <p style="color: #0088A4; font-size: x-large">
        LIST OF LOGS
    </p>
    <a href="/filtered_logs">View Plotted Number of Subcriber Over Time</a>
   <table>
      <thead>

        <tr>
            <th>SUBJECT</th>
            <th>MESSAGE</th>
            <th>STAFF</th>
            <th>DATE SENT</th>
            <th>NUMBER OF SUBSCRIBERS</th>
        </tr>
      </thead>
      <tbody>
        {% for row in data %}

            <td><a href="{{ url_for('display_row', DATE_SENT=row.DATE_SENT) }}">{{ row.SUBJECT }}</a></td>
            <td>{{ row.MESSAGE }}</td>
            <td>{{ row.STAFF }}</td>
            <td>{{ row.DATE_SENT}}</td>
            <td>{{ row.NUM_SUBSCRIBERS }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>

    <br>
    <a href="/review_log">Return to Review Logs</a>

{% endblock %}
