<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="../static/css/main.css">

    <script>
    function clickedMnuButton() {
        var elem = document.getElementsByClassName("mnu-list")[0];
        var display = window.getComputedStyle(elem, null).getPropertyValue("display");

        if(display === "none"){
            document.getElementById("line1").style.transform = "rotate(-45deg)";
            document.getElementById("line1").style.top = "130px";

            document.getElementById("line2").style.display = "none";

            document.getElementById("line3").style.transform = "rotate(45deg)";
            document.getElementById("line3").style.top = "130px";

            [].slice.call(document.getElementsByClassName("mnu-list")).forEach(x => x.style.display = "block");
        } else {
            document.getElementById("line1").style.transform = "rotate(0deg)";
            document.getElementById("line1").style.top = "100px";

            document.getElementById("line2").style.display = "block";
            document.getElementById("line1").style.top = "120px";

            document.getElementById("line3").style.transform = "rotate(0deg)";
            document.getElementById("line3").style.top = "130px";

            [].slice.call(document.getElementsByClassName("mnu-list")).forEach(x => x.style.display = "none");
        }

        [].slice.call(document.getElementsByClassName("sub_list_template")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_user")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_notification")).forEach(x => x.style.display = "none");
    }

    function clickedHome() {
        window.location.href = "/landing_page";
    }

    function hoverHome() {
        [].slice.call(document.getElementsByClassName("sub_list_template")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_user")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_notification")).forEach(x => x.style.display = "none");
    }

    function hoverUser() {
        [].slice.call(document.getElementsByClassName("sub_list_user")).forEach(x => x.style.display = "block");
        [].slice.call(document.getElementsByClassName("sub_list_notification")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_template")).forEach(x => x.style.display = "none");
    }

    function clickedSetting() {
        window.location.href = "/settings";
    }

    function clickedLogout() {
        window.location.href = "/login";
    }

    function hoverNotification() {
        [].slice.call(document.getElementsByClassName("sub_list_notification")).forEach(x => x.style.display = "block");
        [].slice.call(document.getElementsByClassName("sub_list_template")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_user")).forEach(x => x.style.display = "none");
    }

    function clickedReviewLog() {
        window.location.href = "/review_log";
    }

    function clickedSendNotification() {
        window.location.href = "/create_notification";
    }

    function hoverTemplate() {
        [].slice.call(document.getElementsByClassName("sub_list_template")).forEach(x => x.style.display = "block");
        [].slice.call(document.getElementsByClassName("sub_list_user")).forEach(x => x.style.display = "none");
        [].slice.call(document.getElementsByClassName("sub_list_notification")).forEach(x => x.style.display = "none");
    }

    function clickedCreateTemplate() {
        window.location.href = "/create_template";
    }

    function clickedViewTemplates() {
        console.log("VIEW TEMPLATES")
        window.location.href = "/view_templates";
    }

    function init() {
        [].slice.call(document.getElementsByClassName("mnu-button")).forEach(x => x.addEventListener("click", clickedMnuButton));
        document.getElementById("home_div").addEventListener("click", clickedHome);
        document.getElementById("home_div").addEventListener("mouseover", hoverHome)
        document.getElementById("user_div").addEventListener("mouseover", hoverUser);
        document.getElementById("settings_div").addEventListener("click", clickedSetting);
        document.getElementById("logout_div").addEventListener("click", clickedLogout);

        const notification = document.getElementById("notification_div");
        if (notification) {
            notification.addEventListener("mouseover", hoverNotification);
        }

        const review_log = document.getElementById("review_div");
        if (review_log) {
            review_log.addEventListener("click", clickedReviewLog);
        }

        const send_notification = document.getElementById("send_div");
        if (send_notification) {
            send_notification.addEventListener("click", clickedSendNotification);
        }

        const template = document.getElementById("template_div");
        if (template) {
            template.addEventListener("mouseover", hoverTemplate);
        }

        const create_template = document.getElementById("create_template_div");
        if (create_template) {
            create_template.addEventListener("click", clickedCreateTemplate);
        }

        const view_templates = document.getElementById("view_template_div");
        if (view_templates) {
            view_templates.addEventListener("click", clickedViewTemplates)
        }
    }
    </script>
</head>

<body onload="init();">
    <header>
        {% block header %}
            {% if session.role == 'subscriber' %}
                <img src="../static/images/thebag.png" id='the_bag' height="100" width="80">
                <img src="../static/images/pantherpantrypcc.PNG" height="100">

                <nav>
                    <div tabindex="0" class="mnu-button">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line1">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line2">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line3">
                    </div>
                    <ul class="mnu-list">
                        <li><div id="home_div">Home</div></li>
                        <li><div id="user_div">User</div>
                            <ul class="sub_list_user">
                                <li><div id="settings_div">Settings</div></li>
                                <li><div id="logout_div">Logout</div></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% endif %}

            {% if session.role == 'staff' %}
                <img src="../static/images/thebag.png" id='the_bag' height="100" width="80">
                <img src="../static/images/pantherpantrypcc.PNG"height="100">

                <nav>
                    <div tabindex="0" class="mnu-button">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line1">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line2">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line3">
                    </div>
                    <ul class="mnu-list">
                        <li><div id="home_div">Home</div></li>
                        <li><div id="notification_div">Notifications</div>
                            <ul class="sub_list_notification">
                                <li><div id="review_div">Review Log</div></li>
                                <li><div id="send_div">Send Notification</div></li>
                            </ul>
                        </li>
                        <li><div id="user_div">User</div>
                            <ul class="sub_list_user">
                                <li><div id="settings_div">Settings</div></li>
                                <li><div id="logout_div">Logout</div></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% endif %}

            {% if session.role == 'admin' %}
                <img src="../static/images/thebag.png" id='the_bag' height="100" width="80">
                <img src="../static/images/pantherpantrypcc.PNG"height="100">

                <nav>
                    <div tabindex="0" class="mnu-button">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line1">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line2">
                        <img src="../static/images/the_line.png" alt="line" width="50px" height="25px" id="line3">
                    </div>
                    <ul class="mnu-list">
                        <li><div id="home_div">Home</div></li>
                        <li><div id="notification_div">Notifications</div>
                            <ul class="sub_list_notification">
                                <li><div id="review_div">Review Log</div></li>
                                <li><div id="send_div">Send Notification</div></li>
                            </ul>
                        </li>
                        <li><div id="template_div">Templates</div>
                            <ul class="sub_list_template">
                                <li><div id="create_template_div">Create Template</div></li>
                                <li><div id="view_template_div">View Templates</div></li>
                            </ul>
                        </li>
                        <li><div id="user_div">User</div>
                            <ul class="sub_list_user">
                                <li><div id="settings_div">Settings</div></li>
                                <li><div id="logout_div">Logout</div></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        {% endblock %}
    </header>


    <main style="text-align: center">
        {% block content %}<p>Content</p>{% endblock %}
    </main>

    <footer id="footer">
        <p>12000 SW 49th Ave</p>
        <img src="../static/images/pccbulletpoint.PNG" alt="pcc_bulletpoint">
        <p>Portland, Oregon</p>
        <img src="../static/images/pccbulletpoint.PNG" alt="pcc_bulletpoint">
        <p>pantherpantry@pcc.edu</p>
    </footer>
</body>
</html>