{% extends "default.html" %}

{% block title %}Users List{% endblock %}

{% block add_functions_to_js %}

    function clickedDeleteUser(value) {
        window.location.href = "/delete_user" + "?username=" + value;
    }

    function clickedMakeStaff(value) {
        window.location.href = "/make_staff" + "?username=" + value;
    }

    function clickedMakeAdmin(value) {
        window.location.href = "/make_admin" + "?username=" + value;
    }



{% endblock %}

{% block content %}

    <h3>Users</h3>

    <table id="delete_users_table">
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Role</th>
            <th>Remove User</th>
            <th colspan="2">Change Role</th>
        </tr>
        <tr>
        {% for row in data %}
            <td id="userid">{{ row.USERID }}</td>
            <td id="username">{{ row.USERNAME }}</td>
            <td id="role">{{ row.ROLE }}</td>
            <td><button id="admin_delete_user_button" value="{{ row.USERNAME }}" onclick="clickedDeleteUser(this.value)">DELETE</button></td>
            <td><button id="staff_change_button" value="{{ row.USERNAME }}" onclick="clickedMakeStaff(this.value)">STAFF</button></td>
            <td><button id="admin_change_button" value="{{ row.USERNAME }}" onclick="clickedMakeAdmin(this.value)">ADMIN</button></td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}