{% extends "default.html" %}

{% block title %}Edit Template{% endblock %}
{% block content %}
    <p style="font-size: x-large">
        Using Template:
    </p>
    <p style="color: #0088A4">
        '{{ template_name }}'
    </p>

    <br>

    <form method="GET" action="/update_create_template">

            <br><br>

            <label id="subject">Subject:
            <input type="text" name="subject" value="{{ template_subject }}">
                </label>

            <br><br>

            <label id="message">Message:</label><br>
            <textarea id="message" name="message" cols="80" rows="20">{{ template_text }}</textarea>

            <br><br>

            <button type="submit">Save</button>
        </label>
    </form>

    <p>
        <a href="/landing_page">Return Home...</a>
    </p>
{% endblock %}