{% extends "default.html" %}

{% block header %}
        <img src="../static/images/thebag.png" height="100" width="80">
        <img src="../static/images/pantherpantrypcc.PNG"height="100">
{% endblock %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div id="login">
        <p>Username or Email:</p>
        <label id="username_email_entry">
            <input type="text">
        </label>
        <p>Password:</p>
        <label id="password_entry">
            <input type="password">
        </label>
        <br><br>
        <button ><a href="/landing_page" style="text-decoration: none">LOG IN</a></button>
        <button>CLEAR</button>
    </div>

    <div id="switch">
        <h4><a href="/under_construction">Need to create an account? Click here!</a></h4>
    </div>

{% endblock %}