{% extends "default.html" %}

{% block title %}Details{% endblock %}
{% block content %}
    <p style="color: #0088A4; font-size: x-large">
        Detailed View of Log
    </p>
<div style="font-family: Arial, sans-serif; font-size: 14px;">
    {% for row in data %}
    <p style="color: #0088A4; font-size: x-large; font-weight: bold;">{{ row.SUBJECT }}</p>
    <p><strong>From:</strong> {{ row.STAFF }}</p>
    <p><strong>Date:</strong> {{ row.DATE_SENT  }}</p>
    <hr>
    <p>{{ row.MESSAGE }}</p>{% endfor %}
</div>

<br>

<a href="/data_display">Return to Logs</a>

{% endblock %}
