{% extends "default.html" %}

{% block title %}Settings{% endblock %}

{% block content %}

    <h2>Settings</h2>

    <div id="profile_settings">

        <div id="username_box">
            <p>Username:</p>
            <p>{{session.username}}</p>
            <button id="edit_username_button">EDIT</button>
        </div>

        <div id="edit_username_box" >
            <label for="username"></label>
            <input type="text" id="username" name="username">
            <button id="save_user_button" >SAVE</button>
            <button id="cancel_username_button" >CANCEL</button>
        </div>

    </div>

{% endblock %}