{% extends "default.html" %}

{% block title %}Settings{% endblock %}

{% block add_functions_to_js %}
    function clickedEditUsername() {
        document.getElementById("edit_username_box").style.display = "block";
    }

    function clickedCancelUsername() {
        document.getElementById("edit_username_box").style.display = "none";
    }

    function clickedEditEmail() {
        document.getElementById("edit_email_box").style.display = "block";
    }

    function clickedCancelEmail() {
        document.getElementById("edit_email_box").style.display = "none";
    }

    function clickedEditPhone() {
        document.getElementById("edit_phone_box").style.display = "block";
    }

    function clickedCancelPhone() {
        document.getElementById("edit_phone_box").style.display = "none";
    }

    function clickedEditPassword() {
        document.getElementById("edit_password_box").style.display = "block";
    }

    function clickedCancelPassword() {
        document.getElementById("edit_password_box").style.display = "none";
    }

    function clickedEditPreference() {
        document.getElementById("edit_preference_box").style.display = "block";
    }

    function clickedCancelPreference() {
        document.getElementById("edit_preference_box").style.display = "none";
    }

    function clickedUnsubscribe() {
        document.getElementById("edit_status_box").style.display = "block";
    }

    function clickedCancelUnsubscribe() {
        document.getElementById("edit_status_box").style.display = "none";
    }

    function clickedPauseAccount() {
        window.location.href = "/pause_account";
    }

    function clickedDeleteAccount() {
        window.location.href = "/delete_account";
    }

    function clickedUnpauseAccount() {
        document.getElementById("edit_preference_box_unpause").style.display = "block";
    }

    function clickedCancelUnpause() {
        document.getElementById("edit_preference_box_unpause").style.display = "none";
    }

{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert {{ category }}"> {{ message|capitalize }} </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div id="profile_settings">

        <h3>Profile Settings</h3>

        <div id="username_box">
            <p>Username:</p>
            <p class="current_info">{{session.username}}</p>
            <button id="edit_username_button" onclick="clickedEditUsername()" class="settings_edit">EDIT</button>
        </div>

        <div id="edit_username_box">
            <form name="save_username_form" action="/save_username" method="post">
                <label for="username"></label>
                <input type="text" id="username" name="username">
                <button id="save_user_button" type="submit">SAVE</button>
            </form>
            <button id="cancel_username_button" onclick="clickedCancelUsername()" class="cancel_button">CANCEL</button>
        </div>

        <div id="email_box">
            <p>Email:</p>
            <p class="current_info">{{ session.hidden_email }}</p>
            <button id="edit_email_button" onclick="clickedEditEmail()" class="settings_edit">EDIT</button>
        </div>

        <div id="edit_email_box">
            <form name="save_email_form" action="/save_email" method="post">
                <label for="email"></label>
                <input type="email" id="email" name="email">
                <button id="save_email_button" type="submit" >SAVE</button>
            </form>
            <button id="cancel_email_button" onclick="clickedCancelEmail()" class="cancel_button">CANCEL</button>
        </div>

        <div id="phone_box">
            <p>Phone Number:</p>
            <p class="current_info">{{ session.phone_number }}</p>
            <button id="edit_phone_button" onclick="clickedEditPhone()" class="settings_edit">EDIT</button>
        </div>

        <div id="edit_phone_box">
            <form name="save_phone_form" action="/save_phone" method="post">
                <label for="phone"></label>
                <input type="tel" id="phone" name="phone">
                <button id="save_phone_button" type="submit">SAVE</button>
            </form>
            <button id="cancel_phone_button" onclick="clickedCancelPhone()" class="cancel_button">CANCEL</button>
        </div>

        <div id="password_box">
            <p>Password:</p>
            <p class="current_info">********</p>
            <button id="edit_password_button" onclick="clickedEditPassword()" class="settings_edit">EDIT</button>
        </div>

        <div id="edit_password_box">
            <form name="save_password_box" action="/save_password" method="post">
                <label for="password1"></label>
                <input type="password" id="password1" name="password1">
                <label for="password2">Confirm</label>
                <input type="password" id="password2" name="password2">
                <button id="save_password2_button" type="submit">SAVE</button>
            </form>
            <button id="cancel_password_button" onclick="clickedCancelPassword()" class="cancel_button">CANCEL</button>
        </div>

        {% if session.role == 'subscriber' and session.preference != 'none' %}

            <div id="preference_box">
                <p>Notification Delivery:</p>
                <p class="current_info">{{ session.preference }}</p>
                <button id="edit_preference_button" class="settings_edit" onclick="clickedEditPreference()">EDIT</button>
            </div>

            <div id="edit_preference_box">
                <p>Notification Delivery: </p>
                <form name="save_preference_form" action="/save_preference" method="post">
                    <input type="radio" id="email_radio" name="preference" value="email">
                    <label for="email_radio">email</label>
                    <input type="radio" id="text_radio" name="preference" value="text">
                    <label for="text_radio">text</label>
                    <input type="radio" id="both_radio" name="preference" value="both">
                    <label for="both_radio">both</label>
                    <button id="save_preference_button" type="submit">SAVE</button>
                </form>
                <button id="cancel_preference_button" onclick="clickedCancelPreference()" class="cancel_button">CANCEL</button>
            </div>

            <div id="status_box">
                <p>Want to stop receiving notifications?</p>
                <button id="unsubscribe_button" onclick="clickedUnsubscribe()">UNSUBSCRIBE</button>
            </div>

            <div id="edit_status_box">
                <p>Are you sure? Doing so will delete your account.</p>
                <p>If you'd like to take a break, you can pause your account.</p>

                <form name="delete_account_form" action="/delete_account" method="post">
                    <button id="delete_account_button" type="submit">Delete my account.</button>
                </form>
                <form name="pause_account_form" action="/pause_account" method="post">
                    <button id="pause_account_button" type="submit">Pause my account.</button>
                </form>

                <button id="cancel_status_button" onclick="clickedCancelUnsubscribe()" class="cancel_button">CANCEL</button>
            </div>

        {% endif %}

        {% if session.role == 'subscriber' and session.preference == 'none' %}

            <div id="pause_box">
                <p>Your account has been paused.</p>
                <button id="unpause_account_button" onclick="clickedUnpauseAccount()">UNPAUSE</button>
            </div>

            <div id="edit_preference_box_unpause">
                <p>Notification Delivery: </p>
                <form name="save_preference_form" action="/save_preference" method="post">
                    <input type="radio" id="email_radio" name="preference" value="email">
                    <label for="email_radio">email</label>
                    <input type="radio" id="text_radio" name="preference" value="text">
                    <label for="text_radio">text</label>
                    <input type="radio" id="both_radio" name="preference" value="both">
                    <label for="both_radio">both</label>
                    <button id="save_preference_button" type="submit">SAVE</button>
                </form>
                <button id="cancel_unpause_button" onclick="clickedCancelUnpause()" class="cancel_button">CANCEL</button>
            </div>

        {% endif %}

        {% if session.role == 'admin' %}
            <h3>Admin Controls</h3>

            <div id="edit_user_box">
                <form name="admin_edit_user_form" action="/admin_user_list" method="post">
                    <button id="edit_user_button" type="submit">EDIT USER</button>
                </form>
            </div>

        {% endif %}

    </div>

{% endblock %}

