{% extends "default.html" %}



{% block title %}Create Template{% endblock %}
{% block content %}
    <p>
    <p style="color: #0088A4; font-size: x-large">
        VIEW AND EDIT A NOTIFICATION TEMPLATE
    </p>

    <br><br>

    <p style="font-size: x-large">
        Using Template:
    </p>
    <p style="color: #0088A4">
        '{{ template_name }}'
    </p>

    <br><br>

    <form method="GET" action="/update_create_template">
        <label id="update_template">

            <br><br>

            <label for="message">Message:</label><br>
            <textarea name="message" cols="100" rows="10" placeholder="Enter message here"></textarea>

            <br><br>

            <label for="tags">Tags:</label><br>
            <input type="text" name="tags[]" placeholder="Tag 1" required style="text-align: left">
            <input type="text" name="tags[]" placeholder="Tag 2" required style="text-align: left">
            <input type="text" name="tags[]" placeholder="Tag 3" required style="text-align: left">
            <input type="text" name="tags[]" placeholder="Tag 4" required style="text-align: left">
            <input type="text" name="tags[]" placeholder="Tag 5" required style="text-align: left">

            <br><br>


            <button type="submit">Save</button>
        </label>
    </form>

    <br><br>

    </div>


{% endblock %}