{% extends "default.html" %}



{% block title %}View Template{% endblock %}
{% block content %}
    <p>
    <p style="color: #0088A4; font-size: x-large">
        VIEW AND EDIT A NOTIFICATION TEMPLATE
    </p>

    <br><br>

    <form method="GET" action="/update_template">
        <label id="select_template">Select Template:
            <select name="template">
                {% for item in template_list %}
                    <option value="{{ item }}">
                        {{ item.get_name() }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit">Use</button>
        </label>
    </form>

    <br><br>

    <form method="GET" action="/update_create_template">
        <label id="update_template">

            <br><br>

            <label id="subject">Subject:</label><br>
            <input type="text" name="subject" placeholder="Enter subject" style="text-align: left">

            <br><br>

            <label id="message">Message:</label><br>
            <textarea name="message" cols="100" rows="10" placeholder="Enter message here"></textarea>

            <br><br>

            <button type="submit">Save</button>

            <br><br>
        </label>
    </form>

    </div>


{% endblock %}